.login-form{
    width: 50%;
    margin: 10vh auto;
    border: 1px solid var(--dark-theme-light-color);
}

.option-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 ;
}

.highlight{
    color: var(--primary-theme-light-color);
}

.test-credentials{
    cursor: pointer;
}