.content__wrapper{
    width: 100%;
    word-break: break-all;
}

.btn__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.comment__icon,.like__icon,.bookmark__icon,.dislike__icon{
    font-size: 1.5rem;
    color: var(--primary-theme-light-color);
    cursor: pointer;
}