.search__wrapper{
    padding: 1rem;
    position: relative;
}

.search__field{
    width: 100%;
    padding: 0.5rem 1rem; 
}

.search__icon{
    font-size: 1.5rem;
    position: absolute;
    bottom: 30%;
    left: 1.5rem;
}

.users__wrapper{
    margin: 8px 5px;
}