.page-main{
    display: grid;
    grid-template-areas: "navbar navbar navbar page-content page-content page-content page-content sidebar sidebar sidebar";
}

.page-content{
    grid-area: page-content;
}

.sidebar{
    grid-area: sidebar;
    width: 22vw;
}