.navbar-wrapper{
    grid-area: navbar;
}

.navbar{
    width: 80%;
    margin: 5vh auto;
}

.active-style{
    border-left: 2px solid var(--primary-theme-color);
    border-radius: 8px;
    background-color: var(--primary-theme-shade-20);
}